body {
  font-size: 34px;
  background-image: url("portfolio\Images\1TaP.gif");
  background-repeat: no-repeat;
  overflow: auto;
  background-attachment: fixed;
  background-size: cover;
  color: blue;
  background-color: #222;
}
hr{
  color: red;
}
a{
  text-decoration: none;
  color: #999966;
  font-style: italic;
  text-align: center;
}

p{
  text-align: center;
  color: yellow;
  font-size: 30px;
}
h1{
  text-indent: inherit;
  color: red;
  text-align: left;
  font-style: oblique;
  font-family: sans-serif;
  font-weight: bold;
  padding-right: 90px;
}
h2{
  text-decoration: underline;
  text-align: center;
}
#Profile_pic{
  width: 350px;
  border-style: solid;
  border-radius: 5px;
}
#navbar{
  list-style-type: : none;
  margin: 0;
  padding: 10px;
  top: 10px;
  width: 100%;
  position: sticky;
  overflow: hidden;
  background-color: aqua;
  display: flex;
}
#icons{
  padding: 15px;
}
li{
  display: inline;
  border-right: 1px solid #bbb;
  font-size: 26px;
  padding: 7px;
}
li a:hover {
  background-color: #111;
}
li a {
  color: green;
  text-align: center;
  text-decoration: none;
}
.con{
  display: inline-flex;
  margin-left: 20px;
}
#Projects{
  margin: 100px;
}
#blink {
  font-size: 40px;
  font-weight: bold;
  color: black;
  transition: 0.5s;
}
#text-input{
  font-size: 26px;
}
#submit-btn{
  background-color: #098227;
  font-size: 24px;
}
#pcomment{
  text-align: left;
  color: green;
  border-style: dashed;color: pink;width: 20%;
}
.Comment-item{
  display: flex;
  flex-direction: row;
  color: aqua;
}
